.registerMainContainer {
  justify-content: flex-start;
  margin-bottom: 100px;
}

.sectionTitle {
  margin-top: 0;
}

.registerSection {
  form {
    border: none;

    .fieldsGroup {
      margin: 0 auto 8px 0;
      max-width: 380px;
      min-height: 54px;
      align-items: center;
      justify-content: center;
      border: none;
    }

    .textField {
      width: 100%;
      margin: 12px auto 40px;
      position: relative;

      &.phone::after {
        display: block;
        position: absolute;
        content: '+38 (XXX) XXX - XX - XX';
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #7e7e7e;
        bottom: -20px;
        left: 14px;
      }

      input {
        padding: 14px 16px;
      }
    }
  }
}

.fieldsGroup,
.inputFileEmement {
  margin: 40px auto;
}

.radioGroup {
  margin: 0;
}

.fileInput {
  width: 297px;
  border-radius: 0 4px 4px 0;
  max-height: 54px;
  flex-grow: 1;

  
}

.inputFileEmement {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 50px;
}

.radioGroupTitle {
  margin-bottom: 5px;
}

.radioGroupElement {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .registerSection form,
  .registerSection form .fieldsGroup {
    max-width: 328px;
    margin: 0 auto;
  }

  .radioGroupTitle {
    margin-top: 7px;
  }

  .registerSection form .inputFileEmement {
    display: flex;
    flex-wrap: nowrap;
    max-width: 328px;
  }

  .fileInput {
    flex-grow: 1;
  }
}
