.sectionAbout{
  // align-items: flex-start;
justify-content: flex-start;
}

.sectionTitle {
  margin-top: 0;
}

.registerSection {
  form {
    border: none;

    .fieldsGroup {
      margin: 0 auto 20px 0;
      max-width: 380px;
      min-height: 54px;
      align-items: center;
      justify-content: center;
      border: none;
    }

    .textField {
      width: 100%;
      margin: 10px auto 40px;
      position: relative;

      &.phone::after {
        display: block;
        position: absolute;
        content: '+38 (XXX) XXX - XX - XX';
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #7e7e7e;
        bottom: -20px;
        left: 14px;
      }

      input {
        padding: 14px 16px;
      }
    }
  }
}

.fieldsGroup,
.inputFileEmement {
  margin: 40px auto;
}

.radioGroup {
  margin: 0;



}


.fileInput {
  width: 297px;
  border-radius: 0 4px 4px 0;
}

.inputFileEmement {
  margin-bottom: 50px;
}
