@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
   background: #f8f8f8;
   margin: 0;
}

body,
p,
a,
h1,
h2,
h3,
input,
label,
button,
.tooltip .tooltiptext {
   font-family: 'Nunito', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: rgba(0, 0, 0, 0.87);
}

h1,
h2,
h3 {
   font-size: 40px;
   line-height: 40px;
   text-align: center;
}

.container {
   max-width: 1170px;
   display: flex;
   flex-direction: column;
   margin: 140px auto 100px;
   align-items: center;
}

input[type='submit'],
button {
   min-width: 100px;
   height: 34px;
   padding: 4px 20px;
   border-radius: 80px;
   border: none;
   margin: auto;
   cursor: pointer;

   &.primary {
      color: rgba(0, 0, 0, 0.87);
      background: #f4e041;

      &:hover {
         background: #ffe302;
      }

      &:disabled {
         display: block;
         background: #b4b4b4;
         color: rgba(255, 255, 255, 0.87);
         cursor: default;
      }
   }
}

.tooltip {
   position: relative;
   cursor: pointer;

   .tooltiptext {
      visibility: hidden;
      position: absolute;
      color: #ffffff;
      text-align: center;
      background: rgba(0, 0, 0, 0.87);
      padding: 3px 16px;
      border-radius: 4px;
      top: 30px;
      left: 50%;
      z-index: 1;
   }
   &:hover .tooltiptext {
      visibility: visible;
   }
}

.invalid {
   border: 2px solid #cb3d40;
}

.hidden {
   display: none;
}

@media screen and (max-width: 560px) {
   h2,
   h3 {
      max-width: 328px;
   }
}

@media screen and (max-width: 355px) {
   button {
      min-width: 80px;
      height: 30px;
      padding: 4px 14px;
   }

   h1,
   h2,
   h3 {
      font-size: 36px;
      line-height: 36px;
   }
}
