.registerMainContainer {
  justify-content: flex-start;
  margin-bottom: 100px;
}

.sectionTitle {
  margin-top: 0;
}

.registerSection {
  form {
    border: none;

    .textFieldsGroup {
      margin: 0 auto 30px 0;
      max-width: 380px;
      min-height: 54px;
      align-items: center;
      justify-content: center;
      border: none;
    }

    .textField {
      width: 100%;
      margin: 10px auto 20px;
      position: relative;

      &.phone::after {
        display: block;
        position: absolute;
        content: '+38 (XXX) XXX - XX - XX';
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #7e7e7e;
        bottom: -20px;
        left: 14px;
      }

      input {
        padding: 14px 16px;
      }
    }
  }
}

.textFieldsGroup,
.inputFileEmement {
  margin: 40px auto;
}

.fileInput {
  width: 297px;
  max-height: 54px;
  flex-grow: 1;
  margin-left: -1px;

  & fieldset,
  input[type='text'] {
    border: none;
  }
}

.inputFileEmement {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 50px;
}

.radioGroupTitle {
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.87);
}

.radioGroupElement {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .registerSection form,
  .registerSection form .textFieldsGroup {
    max-width: 328px;
  }

  .registerSection form .inputFileEmement {
    display: flex;
    flex-wrap: nowrap;
    max-width: 328px;

    label {
      padding: 14px 2px;
      text-align: center;
    }
  }

  .fileInput {
    flex-grow: 1;
  }
}
