h2 {
  margin: 0 auto;
}

button.more {
  margin-top: 21px;
}

.cardSection {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto 0;
  width: 100%;
  justify-content: space-between;

  .card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 370px;
    height: 254px;
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 14px;
    border: none;
    margin: 0;
    margin-bottom: 29px;

    &__image {
      display: block;
      width: 100%;
      max-height: 70px;

      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
    }

    &__name {
      margin: 20px auto;
      white-space: nowrap;
    }

    &__description {
      &__position,
      &__email,
      &__phone {
        margin: 0 auto;
        white-space: nowrap;
      }
    }
  }
}

.loadingElement {
  transition: all 5s ease;
}

@media screen and (max-width: 1170px) {
  .cardSection .card {
    max-width: 282px;
  }

  .cardSection {
    max-width: 904px;
  }
}

@media screen and (max-width: 1023px) {
  .cardSection .card {
    max-width: 344px;
    margin-bottom: 16px;
  }

  .cardSection {
    max-width: 704px;
  }

  button.more {
    margin-top: 34px;
  }
}

@media screen and (max-width: 767px) {
  .cardSection .card {
    max-width: 328px;
    margin-bottom: 20px;
  }
  .cardSection {
    max-width: 328px;
  }

  button.more {
    margin-top: 30px;
  }
}
