$bg-small: url('../../assets/bg_766x510.jpg');
$bg-med: url('../../assets/bg_1702x1133.jpg');
$bg-large: url('../../assets/bg_2554x1699.jpg');
$bg-extra-large: url('../../assets/bg_4256x2832.jpeg');

.navbar,
.navbar__logo,
.navbar__buttons {
   display: block;
}

.navbar__container,
.content {
   max-width: 1170px;
   margin: 0 auto;
   display: flex;
   align-items: center;
}

.navbar {
   width: 100%;
   height: 60px;
   background-color: #ffffff;

   &__container {
      justify-content: space-between;
      height: 100%;

      button {
         margin-left: 10px;
      }
   }

   &__logo img {
      height: 26px;
      width: 100%;
      vertical-align: middle;
   }
}

.content {
   flex-direction: column;
   height: 650px;
   justify-content: center;
   position: relative;

   &_background {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: rgba(0, 0, 0, 0.47);

      img {
         z-index: -1;
         position: absolute;
         bottom: 20px;
         width: 240%;
         height: 240%;
         bottom: -25%;
         left: -67.5%;
      }
   }

   &__title,
   &__text {
      text-align: center;
      color: #ffffff;
      max-width: 380px;
      z-index: 1;
   }

   &__title {
      margin-bottom: 5px;
   }

   button {
      margin: auto;
      margin-top: 17px;
      z-index: 1;
   }
}

@media screen and (min-width: 320px) {
   .navbar__container {
      margin: 0 16px;
   }

   .content {
      height: 500px;
      width: 100%;

      &_background img {
         content: $bg-small;
         width: 140%;
         height: 140%;
         object-fit: cover;
         left: 0;
         bottom: 0;
      }

      &__title,
      &__text {
         max-width: 328px;
         margin-left: 16px;
         margin-right: 16px;
      }

      button {
         margin-bottom: 70px;
      }
   }
}

@media screen and (min-width: 768px) {
   .navbar__container {
      margin: 0 32px;
   }

   .content {
      &__title,
      &__text {
         max-width: 380px;
      }

      &_background img {
         content: $bg-med;
      }
   }
}

@media screen and (min-width: 1024px) {
   .navbar__container {
      margin: 0 60px;
   }

   .content {
      height: 650px;

      &_background img {
         content: $bg-large;
      }
   }
}

@media screen and (min-width: 1170px) {
   .navbar__container {
      margin: 0 auto;
   }

   .content {
      max-width: 1170px;

      &_background img {
         content: $bg-large;
      }
   }
}

@media screen and (min-width: 1600px) {
   .content {
      &_background img {
         content: $bg-extra-large;
      }
   }
}
