.sectionTitle {
  margin-top: 0;
}

.registerSection {
  form {
    border: none;

    .textFieldsGroup {
      margin: 0 auto;
      max-width: 380px;
      min-height: 54px;
      align-items: center;
      justify-content: center;
      border: none;
    }

    .textField {
      width: 100%;
      margin: 10px auto 20px;

      input {
        padding: 14px 16px;
      }
    }

    input[type='submit'] {
      display: block;
    }
  }
}

.textFieldsGroup,
.inputFileEmement {
  margin: 40px auto;
}

.fileInput {
  width: 297px;
  max-height: 54px;
  flex-grow: 1;
  margin-left: -1px;

  & fieldset,
  input[type='text'] {
    border: none;
  }
}

.inputFileEmement {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 50px;
  label {
    padding: 12px 15px;
  }
}

.radioGroupTitle {
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.87);
}

.radioGroupElement {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 320px) {
  .registerSection form,
  .registerSection form .textFieldsGroup {
    max-width: 328px;
  }

  .registerSection form .inputFileEmement {
    display: flex;
    flex-wrap: nowrap;
    max-width: 328px;

    label {
      padding: 12px 2px;
      text-align: center;
    }
  }

  .fileInput {
    flex-grow: 1;
  }
}
